body {
    font-family: sans-serif;
}
header {
    background-color: #e6c87d;
  text-align: center;

}

header img{
    width: 200px;
    height: 150px;
    
}
footer {
    background-color:#867b60;
}
